.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.item {
    display: block;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0px 1px 1px #ddd, 0px 2px 4px #ddd;
    border: #eee 1px solid;
    transition: .5s all;
    width: 100%;
    overflow: hidden;
    color: #2e353f;
    text-decoration: none;
    height: 320px;
    max-width: 620px;
}
.item:hover {
    transform: translate3d(-2px, -3px, 0);
    box-shadow: 0px 1px 1px #aaa, 2px 6px 4px #aaa;
}

.image {
    height: 200px;
}

.section {
    margin: 0 4px;
}
.title {
    font-size: 1.2rem;
    margin: 2px 0;
    line-height: 120%;
}

.date {
    font-size: 0.7rem;
    margin-top: -2px;
}
.p {
    font-size: 1rem;
    line-height: 120%;
    margin: 0;
}